.payment-block {
  margin-top: 60px;
  padding: 0 20px;
}

.coaching-styles {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.coaching-styles > *:not(:last-child) {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  border: none;
  height: 2px;
  background-color: orange;
  margin-top: 4px;
}

.payment-block .content {
  background-color: #f3f4f6;
  height: 300px;
}

.payment-block .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.member-text-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  opacity: .7;
}
.member-text-style span a {
  text-decoration: none;
  display: inline-block;
  padding: 6px 10px;
  background-color: #131b2d94;
  color: white;
  border: none;
  border-radius: 10px;
}
