.submit-btn-style {
  display: block;
  background-color: #1a3576;
  color: white;
  cursor: pointer;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  margin: 20px 0;
}

.disabled-btn {
  opacity: 0.6;
  cursor: wait;
}
