.identifierBtn {
  display: block;
  margin-top: 20px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: #1a3676e2;
  border-radius: 5px;
  border: none;
  color: white;
}

.form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.form-block input {
  padding: 10px;
  outline: none;
  border: 1px solid grey;
  border-radius: 10px;
}
