*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

input {
  display: inline-block;
  outline: none;
  padding: 20px 10px;
  border-radius: 10px;
  border: 1px solid rgba(78, 73, 73, 0.496);
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2e4983;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgBlock {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.invalidField {
  border: 1px solid red;
}

.lci-logo {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.member-text-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  font-size: 17px;
}
.member-text-style span a {
  text-decoration: none;
  display: inline-block;
  padding: 6px 10px;
  font-size: 16px;
  background-color: #1a3676e2;
  color: white;
  border: none;
  border-radius: 10px;
}

.notification-msg {
  padding: 16px 10px;
  background-color: rgba(255, 0, 0, 0.598);
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
}

.user-notif {
  text-align: center;
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.571);
  margin-bottom: 10px;
}

.user-notif.user-found {
  background-color: rgba(13, 231, 13, 0.3);
}

.user-notif.user-not-found {
  background-color: rgba(255, 166, 0, 0.58);
  line-height: 1.5;
  letter-spacing: 1px;
}
